body {
	background-color: black;
	font-family: monospace;
}

#container {
	height: 50px;
	position: relative;
	margin: 0;
}

.display {
	position: absolute;
	height: 50px;
	z-index: 1;
	top: 0;
	left: 0;
	color: #f92b02;
	font-size: 24px;
	filter: blur(2px);
}

#overlay {
	position: absolute;
	height: 50px;
	z-index: 2;
	top: 0;
	left: 0;
	filter: blur(0px);
}