body {
	background-color: black;
	font-family: monospace;
}

#container {
	height: 50px;
	position: relative;
	margin: 0;
}

.display {
	position: absolute;
	height: 50px;
	z-index: 1;
	top: 0;
	left: 0;
	color: #e24700;
	font-size: 24px;
	filter: blur(2px);
	padding-top: 20px;
}

#overlay {
	position: absolute;
	height: 50px;
	z-index: 2;
	top: 0;
	left: 0;
	filter: blur(0px);
}

#title {
	font-size: 24px;
	color: white;
	top: 0;
	left: 0;
	filter: blur(1px);
	transition: .1s;
}